@using WOrder.Web.Startup
@using WOrder.Category
@{
    ViewBag.ActiveMenu = PageNames.Product;
}

<div class="layui-container layui-bg-white">
    <div class="layui-row">
        <div class="layui-col-md12" style="padding:10px 0px;font-size:15px;">
            <span class="layui-breadcrumb " lay-separator=">">
                <a href="/">首页</a>
                <a><cite>商品</cite></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="WOrder-category">
            <ul class="layui-clear">
                <li class="category-item layui-this"><a href="#">全部</a></li>
                @foreach (var categoryItem in Model.Categories)
                {
                    <li class="category-item" categoryId="@categoryItem.Id"><a href="javascript:void(0)">@categoryItem.Name</a></li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="layui-container layui-bg-white" style="padding:10px;">
    <div class="layui-row">
        <div class="layui-col-md2">
            <button class="layui-btn" id="btnPAdd"><i class="layui-icon">&#xe654;</i> 添加</button>
        </div>
        <div class="layui-col-md3 layui-col-md-offset7">
            <div class="layui-input-group">
                <input type="text" id="txtSearch" class="layui-input" style="text-align:left;" placeholder="输入名称或者描述" />
                <span class="layui-input-group-addon" id="btnSearch"><i class="layui-icon">&#xe615;</i></span>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-table" id="tb_product" lay-filter="f_product"></table>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/lib/filedownload/jquery.filedownload.js"></script>
    <script type="text/javascript">

        layui.use(['laytpl', 'element', 'layer', 'jquery', 'form', 'layedit', 'upload', 'laypage', 'abptable'], function () {
            var laytpl = layui.laytpl
                , element = layui.element
                , layer = layui.layer
                , $ = layui.jquery
                , form = layui.form
                , layedit = layui.layedit
                , upload = layui.upload
                , laypage = layui.laypage
                , table = layui.abptable
                , view = document.getElementById('tbody_product')
                , _productService = abp.services.app.product
                , _fileService = abp.services.app.file
                , tableData = []
                , layIndex = -1   //弹窗
                , editorIndex      //layedit的索引
                , categoryId = 0 //当前的分类
                , isFirst = true //当前是第几次请求数据
                , isInitUp = false;  //是否初始化过上传组件


            var methods = {

                initEvent: function () {
                    $('#btnPAdd').click(function () {
                        //弹出对话框
                        methods.openDialog({});
                    });


                    $('.category-item').click(function () {
                        //切换样式
                        $('.layui-this').each(function () {
                            $(this).removeClass('layui-this');
                        })
                        if (!$(this).hasClass('layui-this')) {
                            $(this).addClass('layui-this');
                        }

                        var cateId = $(this).attr('categoryId');
                        categoryId = cateId;
                        methods.reload();

                    });


                    form.verify({
                        describe: function (value, item) { //value：表单的值、item：表单的DOM对象
                            layedit.sync(editorIndex)
                            var desc = layedit.getContent(editorIndex);
                            if (desc.length < 6) {
                                return "商品详情描述不能小于5个字符";
                            }
                        }
                    });

                    form.on('submit(btnSubmit)', function (data) {
                        methods.saveIn(data.field);
                    });


                    //第一个实例
                    table.render({
                        elem: '#tb_product'
                      , url: '/api/services/app/Product/GetAll' //数据接口
                      , page: true //开启分页
                      , cols: [[ //表头
                          { type: 'numbers' }
                        , { field: 'categoryName', title: '分类', width: 120 }
                        , { field: 'itemNo', title: '编码', width: 80 }
                        , { field: 'name', title: '名称', width: 200,templet:'#tpl_name' }
                        , { field: 'describe', title: '描述' }
                        , { field: 'price', title: '价格', width: 100, align: 'right', sort: true }
                        , { field: 'pStatus', title: '商品状态', width: 100, templet: '#tpl_pStatus', unresize: true }
                        , { field: 'action', title: '操作', width: 140, align: 'center', toolbar: '#tool_product' }
                      ]]
                    });


                    //监听上架下架开关
                    form.on('switch(f_pStatus)', function (obj) {
                        _productService.upOrDown(this.value, {
                            success: function () {
                            },
                            fail: function () {
                                layer.alert("异常了");
                            }
                        });
                    });
                    //监听工具条事件
                    table.on('tool(f_product)', function (obj) {
                        var data = obj.data;
                        if (obj.event === 'del') {
                            layer.confirm('确定要删除该商品吗?', function (index) {
                                _productService.delete({ id: data.id }, {
                                    success: function (resData) {
                                        obj.del();
                                        layer.close(index);
                                    }
                                });
                            });
                        } else if (obj.event === 'edit') {
                            methods.edit(data);
                        }
                    });

                    $('#btnSearch').click(function () {
                        var value = $('#txtSearch').val();
                        methods.reload({ name: value });
                    });

                    $('#txtSearch').keypress(function (e) {
                        // 回车键事件
                        if (e.which == 13) {
                            methods.reload({ "name": $('#txtSearch').val() });
                        }
                    });
                },
                reload: function (param) {
                    var queryParams = {
                        "categoryId": categoryId
                    }
                    var allQuery = $.extend(queryParams, param);
                    //弹出对话框
                    table.reload('tb_product', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: allQuery
                    });
                },
                //初始化上传组件
                initUpload: function () {
                    //多图片上传
                    upload.render({
                        elem: '#frm_btnUpload'
                      , url: '/File/Upload/'
                      , multiple: true
                      , accept: "images"
                      , multiple: true
                      , before: function (obj) {
                          //预读本地文件示例，不支持ie8
                          obj.preview(function (index, file, result) {
                              $('#fileList').append('<li><img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"></li>')
                          });
                      }
                      , done: function (res) {
                          //上传完毕
                          var existIds = $('#frm_product').find('input[name=fileIds]').val();
                          //给对象赋值
                          if (existIds.length > 0) {
                              existIds = existIds + ',' + res.result.id;
                          } else {
                              existIds = res.result.id;
                          }
                          $('#frm_product').find('input[name=fileIds]').val(existIds);
                      }
                    });

                },
                loadFile: function (productId) {
                    _fileService.getAll({ parentId: productId }, {
                        success: function (res) {
                            $('#fileList').children().remove();
                            if (res.items.length > 0) {
                                var imgDoc = "";
                                var fileIds = res.items.map(function (item) {
                                    imgDoc += '<li fileId="' + item.id + '"><img src="' + item.filePath + '" alt="' + item.fileName + '" class="layui-upload-img"><i class="layui-icon p-del" >&#x1006;</i></li>';
                                    return item.id;
                                }).join(',')
                                $('#fileList').append(imgDoc)
                                $('#frm_product').find('input[name=fileIds]').val(fileIds);
                                //注册事件
                                $('#fileList').find('.p-del').click(function () {
                                    var fileId = $(this).parents('li').eq(0).attr('fileId');
                                    methods.delFile(fileId);
                                });
                            }
                        }
                    });
                },
                //删除图片
                delFile: function (fileId) {
                    _fileService.delete({ id: fileId }, {
                        success: function () {
                            //删除对象
                            $('#fileList>li[fileId=' + fileId + ']').eq(0).remove();
                            //找到对象,接着清除ids
                            var fileIds = $('#frm_product').find('input[name=fileIds]').val();
                            if (fileIds.length > 0) {
                                fileIds = fileIds.split(',').filter(function (item) {
                                    return item != fileId;
                                });
                                $('#frm_product').find('input[name=fileIds]').val(fileIds)
                            }
                        }
                    });
                },

                edit: function (row) {
                    //弹出对话框
                    methods.openDialog(row);
                    //加载附件
                    methods.loadFile(row.id);
                },
                openDialog: function (data) {

                    layIndex = layer.open({
                        type: 1
                        , title: '产品表单'
                        , id: 'Layer_Content'
                        , area: '700px'
                        , content: tpl_dlg_product.innerHTML
                        , success: function () {
                            //1: 渲染上传组件
                            methods.initUpload();
                            methods.loadForm(data);
                        }
                    });

                },
                saveIn: function (frmObj) {
                    if (frmObj.id == '') {
                        //1：新增
                        _productService.create(frmObj, {
                            success: function () {
                                layer.close(layIndex);
                                layer.msg("新增成功");
                                methods.reload();
                            }
                        });
                    } else {
                        //2：修改
                        _productService.update(frmObj, {
                            success: function () {
                                layer.close(layIndex);
                                layer.msg("更新成功");
                                methods.reload();
                            },
                        });
                    }

                },
                loadForm: function (data) {

                    Object.keys(data).forEach(function (key, index) {
                        var tagName = '[name=' + key + ']';
                        var $tag = $('#frm_product').find(tagName).eq(0);
                        if ($tag.length == 0) {
                            return false;
                        }
                        $tag.val(data[key]);
                    });
                    //1：重新渲染select 组件
                    form.render();
                    //2：重新渲染editor
                    editorIndex = layedit.build('frm_describe', {
                        height: 200
                    });

                    methods.registerOnInput();
                },
                registerOnInput: function () {
                    $('input[name=linkAddr]').bind('input propertychange', function (e) {
                        var value = $(this).val();
                        if (value.length == 0) {
                            return false;
                        }
                        abp.ajax({
                            url: "/category/GetInfoByUrl?url=" + encodeURIComponent(value),
                            method: "Get",
                            success: function (res) {
                                console.log(res)
                                //设置标题
                                $('#frm_product').find('input[name=name]').val(res.title);
                                $('#frm_product').find('input[name=skuid]').val(res.skuid);
                                //设置描述
                                $(window.frames["LAY_layedit_1"].document).find("body").html(res.desc)

                                //https://p.3.cn/prices/mgets?skuIds=J_3938531
                                if (res.imgs.length > 0) {
                                    //下载图片
                                    res.imgs.forEach(function (item) {
                                        var url = "/File/DownByURL?url=" + encodeURIComponent(item);
                                        setTimeout(function () {
                                            $.fileDownload(url);
                                        },1000)
                                    });
                                   
                                }
                            }
                        });


                    })
                }
            }

            methods.initEvent();

        })
    </script>

    <!--------table template-------->

    <script type="text/html" id="tpl_pStatus">
        <!-- 这里的 checked 的状态只是演示 -->
        <input type="checkbox" name="pstatus" value="{{d.id}}" lay-skin="switch" lay-text=" 上架 | 下架 " lay-filter="f_pStatus" {{ d.pStatus ==1 ? 'checked' : '' }}>
    </script>


<script type="text/html" id="tpl_name">
    {{# if(d.linkAddr&&d.linkAddr.length>0){ }}
        <a href="{{d.linkAddr}}" class="layui-table-link" target="_blank">{{ d.name }}</a>
    {{# } else { }}
    <a href="/Home/Details/{{d.id}}" class="layui-table-link" target="_blank">{{ d.name }}</a>
    {{# }  }}
</script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script type="text/html" id="tool_product">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <!--------dialog-------->
    <script type="text/html" id="tpl_dlg_product">
        <form class="layui-form" style="padding:15px 15px;" id="frm_product">
            <input type="hidden" name="id" />
            <input type="hidden" name="fileIds" />
            <input type="hidden" name="itemNo" />
            <input type="hidden" name="pStatus" />
            <input type="hidden" name="skuid" />
            <div class="layui-form-item">
                <label class="layui-form-label">源地址</label>
                <div class="layui-input-block">
                    <input type="text" name="linkAddr" lay-verify="required" placeholder="商品的网页地址" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" placeholder="请输入名称,最长6个字符" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">隶属类别</label>
                <div class="layui-input-inline">
                    <select name="categoryId" lay-verify="required">
                        <option value="">请选择类别</option>
                        @foreach (var categoryItem in Model.Categories)
                        {
                        <option value="@categoryItem.Id">@categoryItem.Name</option>
                        }
                    </select>
                </div>
                <label class="layui-form-label">商品价格</label>
                <div class="layui-input-inline">
                    <input type="text" name="price" required lay-verify="required|number" placeholder="￥" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">商品详情</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" rows="7" class="layui-textarea" lay-verify="describe" id="frm_describe" name="describe"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片信息</label>
                <div class="layui-input-inline">
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn " id="frm_btnUpload">上传 <i class="layui-icon">&#xe681;</i></button>
                    </div>
                </div>
                <div class="layui-input-inline">
                    <span id="txtImgWarn" style="color:red;margin-left:10px;">[图片必须上传]</span>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <ul id="fileList" class="layui-upload-list"></ul>
                </div>
            </div>
            <div class="layui-form-item" style="text-align:center;margin-bottom:0px;">
                <button class="layui-btn" type="button" lay-submit lay-filter="btnSubmit">提交</button>
            </div>
        </form>
    </script>
}
