
@{
    ViewData["Title"] = "Integral";
}

@section Styles{ 
   <style type="text/css">
       p{
           margin:5px;
           padding:5px 20px;
           font-size:14px;
       }

       h3 {
           padding: 5px 20px;
       }
    </style>
}

<div class="layui-container layui-bg-white" style="padding:10px 10px 40px 10px;">
    <div class="layui-row">
        <div class="layui-col-md12" style="padding:10px 0px;font-size:15px;">
            <span class="layui-breadcrumb " lay-separator=">">
                <a href="/">首页</a>
                <a><cite>积分说明</cite></a>
            </span>
        </div>
    </div>
    <div class="layui-row" style="text-align:center;">
        <h1>积分制度</h1>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <h2>一、目的</h2>
            <p>为鼓励员工积极参与公司及工会组织的活动，丰富业余生活，增进部门协作沟通，提升企业凝聚力，公司现对员工参与公司及工会活动并取得优秀成绩的团队或个人进行积分奖励，特制定本奖励制度。</p>
            <h2>
                二、      适用范围
            </h2>
            <p>公司全体员工。</p>
            <h2>
                三、      积分类别
            </h2>
            <p>积分分为个人积分和团队积分。个人积分为员工个人参加公司及工会活动获得的积分；团队积分为部门参与公司组织的各类竞赛活动或跨部门团建活动获得的积分。</p>
            <h2>
                四、      积分规则
            </h2>
            <h3>
                （一）      团队积分
            </h3>

            <p>1、部门月度之星评选，当选部门可以获得1000-3000积分。</p>
            <p>2、 部门参与公司组织的各类竞赛活动或跨部门团建活动，胜出的部门可以获取相应的积分（具体分值则在活动开展前向工会提前报备确定积分值）。</p>
            <h3>
                （二） 个人积分
            </h3>

            <p>
                1、参加公司或工会组织的文体活动、知识竞赛、技能竞赛，获得优胜的个人可以奖励相应的积分（其中团体类比赛，优胜团体的每位成员可获得相应的个人积分，不与团队积分重复奖励）。
            </p>
            <p>
                2、参加公司各类社团学习且表现突出的优秀学员可以奖励相应的积分。（优秀学员须由社团内部评定选拔，优秀学员名额与社团总人数挂钩，各社团同等比例，年底按10%比例申报）。
            </p>
            <p>
                3、代表公司参加对外竞赛的员工可获得一定的积分，取得优异成绩的员工依据所获得荣誉再给予一定的积分奖励。
            </p>
            <p>
                4、组织或参加公益活动，对外彰显麦迪员工优秀精神面貌的员工依据参加活动照片等内容向工会报备，可获得一定的积分奖励。
            </p>
            <p>
                上述可获得积分奖励的相关活动，活动组织人或参与人需提前向工会委员会报备，经工会审核批准并确定积分值后才可以获得相应积分奖励，活动组织人自行决定积分奖励无效。
            </p>
            <h2> 五、      积分兑换</h2>
            <h3>
                （一）兑换时间
            </h3>
            <p>
                符合上述积分兑换细则条件的团队和个人，可以在每年的6月/12月最后一周工作日向工会发起积分兑换申请。
            </p>
            <h3>
                （二）兑换方式
            </h3>
            <p>1、积分可以用于公司内部消费。按照1积分=人民币1元的换算方式兑换员工卡补贴，用于公司食堂、超市、咖啡厅等消费。</p>
            <p>2、积分可兑换相对应价值的礼品，积分累计不足的下一年度可顺延累计。兑换礼品由工会委员会统一采购。</p>
            <p>本制度所有解释权归工会委员会所有。</p>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12" style="text-align:right;padding-right:20px;">
            <h3>麦迪科技工会委员会</h3>
            <h3> 二〇一七年八月三十一日</h3>
        </div>
    </div>
</div>