


@using System.Globalization
@using Abp.Web.Security.AntiForgery
@using Abp.Configuration.Startup
@using Abp.Timing
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    AbpAntiForgeryManager.SetCookie(Context);
    Layout = null;
}

@section Styles{

}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>天翔物业</title>
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            font: 16px/20px microsft yahei;
        }

        .login-top {
            width: 100%;
            height: 100%;
            opacity: 0.8;
            position: fixed;
            background: url(/image/login_bg.jpg) no-repeat center center fixed;
            background-size: cover;
            /*background: linear-gradient(to bottom right,#0B6EC3,#0F74C6);
            background: -webkit-linear-gradient(to bottom right,#0B6EC3,#0F74C6);*/
        }

        .container {
            position: absolute;
            width: 360px;
            height: 300px;
            top: 50%;
            right: 100px;
            margin-top: -200px;
        }

            .container .layui-form {
                width: 100%;
                height: 100%;
                background-color: white;
                box-shadow: 4px 4px 4px #0961BA;
                padding: 10px 20px;
            }

        .logo-name {
            position: relative;
            height: 55px;
            color: #70B5F3;
            padding: 15px;
            font-size: 24px;
            border-bottom: 2px solid #F6F6F6;
        }


        .login-input {
            position: relative;
            line-height: 36px;
            border: 1px solid #DBDBDB;
            padding: 3px 10px;
            margin-top: 20px;
            box-sizing: border-box;
            font-size: 16px;
        }

            .login-input img {
                vertical-align: middle;
                height: 20px;
                width: auto;
            }

            .login-input input {
                vertical-align: middle;
                height: 28px;
                width: 200px;
                border: 0;
                margin-left: 15px;
            }

                .login-input input:focus {
                    outline: none;
                    background-color: transparent;
                }

                .login-input input ::selection {
                    background: transparent;
                }

                .login-input input::-moz-selection {
                    background: transparent;
                }

        .logo-title {
            line-height: 50px;
            line-height: 50px;
            color: white;
            font-family: 'Microsoft YaHei';
            font-size: 30px;
            text-align: center;
            margin-bottom: 10px;
        }

            .logo-title img {
                vertical-align: middle;
            }

            .logo-title label {
                vertical-align: middle;
                margin-left: 10px;
            }


        .login-remember {
            height: 30px;
            padding: 10px 0px;
        }

            .login-remember input {
                vertical-align: middle;
            }

            .login-remember label {
                vertical-align: middle;
                font-size: 14px;
            }

        .login-btn {
            padding: 15px 0px;
        }

            .login-btn input {
                width: 100%;
            }

             
            .login-footer{
                position:absolute;
                left:50%;
                bottom:40px;
                color:white;
                margin-left:-144px;
                font-weight:600;
                font-size:14px;
            }
    </style>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
</head>
<body>
    <div class="login-top">
        <div class="container">
            <div class="logo-title">
                <img src="~/image/logo_tran.png" />
                <label>天翔云系统</label>
            </div>
            <form class="layui-form">
                <div class="logo-name">用户登陆</div>
                <div class="login-input">
                    <img src="~/image/phone.png" />
                    <input type="text" name="account" autocomplete="off" placeholder="请输入账号/手机" />
                </div>
                <div class="login-input">
                    <img src="~/image/password.png" />
                    <input type="password" name="password" autocomplete="off" placeholder="请输入密码" />
                </div>
                <div class="login-remember">
                    <input type="checkbox" name="isRemember" title="记住密码" lay-skin="primary" checked>
                </div>
                <div class="login-btn"><input type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="btnLogin" value="登录" /></div>
            </form>


        </div>
        <div class="login-footer">
            苏州市环亚数据技术有限公司 版权所有@2018
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js"></script>
    <!---------abp扩展的ajax ----------->
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js"></script>
    <script src="~/lib/layui-extend/abp/abp.layui.js"></script>
    <script type="text/javascript">


        layui.use(['form','layer'], function () {
            var form = layui.form
            , layer = layui.layer;


            form.on('submit(btnLogin)', function (data) {

                if ($.trim(data.field["account"]).length == 0) {
                    layer.msg('账号不能为空', { icon: 1 });
                    return;
                }

                if ($.trim(data.field["password"]).length == 0) {
                    layer.msg('密码不能为空', { icon: 1 });
                    return;
                }
                if (data.field["isRemember"] == "on") {
                    data.field["isRemember"] = true;
                } else {
                    data.field["isRemember"] = false;
                }
                abp.ajax({
                    url: "/Account/LoginAsync",
                    data: JSON.stringify(data.field),
                });
            });

        });
    </script>
</body>
</html>

