@using WOrder.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.Schedule;
}

<style scoped type="text/css">
    .datagrid-row {
        height: 32px;
    }
</style>

<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'north',height:48" style="padding:5px 10px;">
        <table class="query-table">
            <tr>
                <td id="txtTime">排班年:</td>
                <td>
                    <input type="text" id='txtYear' />
                </td>
                <td id="txtTime">排班月:</td>
                <td>
                    <input type="text" id='txtMonth' />
                </td>
                <td>关键字:</td>
                <td>
                    <input class="easyui-searchbox" id="txtScheduleKey" style="width: 300px; margin-left: 40px;" />
                </td>
                <td><a href="javascript:void(0)" id="btnQuerySchedule" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">查询</a></td>
            </tr>
        </table>
    </div>
    <div data-options="region:'center'">
        <table id="tb_scheduling"></table>
    </div>
</div>


<div id="dlg_schedule">
    <form id="frm_schedule" method="post">
        <input type="hidden" name="id" />
        <input type="hidden" name="userId" />
        <input type="hidden" name="classDate" />
        <table class="form-table">
            <tr>
                <td class="tdLabel">班别</td>
                <td colspan="3">
                    <input name="classType" id="txtClassType" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">开始</td>
                <td>
                    <input name="sDate" id="txtSDate" class="easyui-datebox" data-options="required:true,editable:false,width:120" />
                </td>
                <td class="tdLabel">结束</td>
                <td>
                    <input name="eDate" id="txtEDate" class="easyui-datebox" data-options="required:true,editable:false,width:120" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">工作描述</td>
                <td colspan="3">
                    <input type="text" name="description" class="easyui-textbox" data-options="required:true,multiline:true,height:120,width:410" />
                </td>
            </tr>
        </table>
    </form>
</div>

<!--右键菜单-->
<div id="mm_schedule" class="easyui-menu" style="width:120px;display:none;">
    <div data-options="iconCls:'icon-clear'">取消</div>
</div>

@section Scripts{
    <script type="text/javascript">
      var scheduleBox = {
            sDay: 0,
            eDay: 0,
            curDay: 0,
            curRowIndex: -1,
            changes: [],
            holidays: "",
            weekDays: "",
           //当前班别
            curType:"",
            classTypeURL: "/api/services/app/Dictionary/GetAll?maxResultCount=10000&skipCount=0&dictType=" + encodeURIComponent("人员班别")
        }
        $(function () {
            var _scheduleService = abp.services.app.schedule;
            var  methods = {
                init: function () {
                    $('#txtYear').combobox({
                        valueField: 'id',
                        textField: 'text',
                        editable: false,
                        width: 80,
                        data: $.getYearArray()
                    });

                    $('#txtMonth').combobox({
                        valueField: 'id',
                        textField: 'text',
                        editable: false,
                        width: 80,
                        data: $.getMonthArray(),
                        onClick: function (record) {
                            methods.queryData(record.id);
                        }
                    });

                    $('#txtClassType').combobox({
                        valueField: 'name',
                        textField: 'name',
                        method:'GET',
                        editable: false,
                        required:true,
                        width: 410,
                        icons: [{
                            iconCls: 'icon-clear',
                            handler: function (e) {
                                $(e.data.target).textbox('clear');
                                scheduleBox.curType = '';
                            }
                        }],
                        url: scheduleBox.classTypeURL,
                        loadFilter: function (resData) {
                            return resData["items"];
                        },
                        onHidePanel: function () {
                            scheduleBox.curType = $("#txtClassType").combobox('getValue');
                        }
                    });

                    $('#txtScheduleKey').searchbox({
                        prompt: '姓名/岗位/班别',
                        searcher: function () {
                            methods.queryData();
                        }
                    });

                    var date = new Date();

                    $('#txtYear').combobox('setValue', date.getFullYear());
                    $('#txtMonth').combobox('setValue', date.getMonth() + 1);

                    $('#btnQuerySchedule').linkbutton({
                        onClick: function () {
                            methods.queryData();
                        }
                    });

                    $('#dlg_schedule').dialog({
                        closed: true,
                        width: 600,
                        height: 300,
                        title:"排班设定",
                        buttons: [
                            {
                                text: '保存',
                                iconCls: 'icon-save',
                                handler: function () {
                                    methods.save();
                                }
                            }, {
                                text: '取消',
                                iconCls: 'icon-cancel',
                                handler: function () {
                                    $('#dlg_schedule').dialog('close');
                                }
                            }
                        ]
                    });

                    $.parser.parse('#dlg_schedule');
                },
                initTable: function (jsonData, holidays) {
                    var newCols = methods.generateCols(holidays);
                    $.dgInit({
                        id: "tb_scheduling",
                        idField: 'userId',
                        columns: newCols,
                        data: jsonData,
                        fitColumns: false,
                        frozenColumns: [[
                             { field: 'userId', hidden:true,width:10, align: 'left' },
                             { field: 'userName', width: 70, title: "姓名", align: 'left' },
                             { field: 'position', width: 70, title: "岗位", align: 'left' },
                             { field: 'areaName', width: 80, title: "负责区域", align: 'left' },
                             { field: 'workMode', width: 80, title: "工作方式", align: 'center' },
                        ]],
                        onClickCell: function (index, field, value) {
                            if (field === "userName" || field === "position" || field === "workMode") {
                                return;
                            }
                            var tempObj = {};

                            var row = $('#tb_scheduling').datagrid('getRows')[index];

                            //弹出对话框
                            $('#dlg_schedule').dialog('open');
                            $('#frm_schedule').form('clear');
                            var desc = row[field + "_desc"];
                            row["description"] = desc;
                            $('#frm_schedule').form('load', row);
                            $('#txtClassType').combobox('setValue', value);
                            var strDate = methods.getParam().yFlag + "-" + methods.getParam().mFlag + "-" + field;
                            $('#txtSDate').datebox('setValue', strDate);
                            $('#txtEDate').datebox('setValue', strDate);
                            scheduleBox.curRowIndex = index;
                        },
                        onRowContextMenu: function (e, index, row) {
                            e.preventDefault();
                            var cellIndex = 0;
                            if (e.target.nodeName == "TD") {
                                cellIndex = $(e.target).attr('field');
                            } else {
                                cellIndex = $(e.target).parent().attr('field');
                            }

                            scheduleBox.curDay = cellIndex;
                            scheduleBox.curRowIndex = index;
                            abp.log.debug("curDate=" + scheduleBox.curDay)
                            $('#mm_schedule').menu('show', {
                                left: e.pageX,
                                top: e.pageY,
                                onClick: function (item) {
                                    if (item.text == "开始") {
                                        methods.start();
                                    } else if (item.text == "结束") {
                                        methods.end();
                                    } else if (item.text == "取消") {
                                        methods.cancel();
                                    }

                                }
                            });
                        },
                        toolbar: [{
                            text: '新增人员',
                            iconCls: 'icon-add',
                            handler: function () {
                                methods.addUser();
                            }
                        }, '-', {
                            text: '<span style="color:blue;">【左键单选】</span>'
                        }]
                    })
                },
                getParam: function (month) {
                    return {
                        "yFlag": $('#txtYear').combobox('getValue'),
                        "mFlag": month || $('#txtMonth').combobox('getValue'),
                        "key": $('#txtScheduleKey').searchbox('getValue')
                    }
                },
                //生成cols
                generateCols: function () {

                    var holidayArray = [], weekArray = [];
                    if (scheduleBox.holidays && scheduleBox.holidays.length > 0) {
                        holidayArray = scheduleBox.holidays.split(',');
                    }

                    if (scheduleBox.weekDays && scheduleBox.weekDays.length > 0) {
                        weekArray = scheduleBox.weekDays.split(',');
                    }
                    var param = methods.getParam();

                    var dayData = $.dayNumOfMonth(param.yFlag, param.mFlag);
                    var title = param.mFlag + "月排班表";
                    var oneRow = [

                         { field: 'months', width: 300, align: 'center', title: '<span style="color:blue;font-size:18px;">' + title + '</span>', colspan: dayData }
                    ];
                    var twoRow = [],threeRow=[];
                    for (var i = 1; i <= dayData; i++) {
                        //检查该日期是否是周六周日
                        var curDate = new Date(param.yFlag + "/" + param.mFlag + "/" + i)
                        , fontColor = "black"
                        , title = "" + i;
                        //检查周末
                        //console.log(holidayArray)
                        //console.log($.inArray(title, holidayArray));
                        //if (holidayArray.length > 0 && $.inArray(title, holidayArray) > -1) {
                        //    fontColor = "green";
                        //}
                        var weekName = $.getWeekName(curDate);
                        if (weekName === "六" || weekName === "日") {
                            fontColor = "red";
                        }
                        //获取第二行
                        twoRow.push({
                            title: title,
                            align: 'center',
                            width: 40,
                            align: 'center',
                            halign: 'center',
                        });

                        threeRow.push({
                            field: title,
                            title: "<span style='color:" + fontColor + "'>" + $.getWeekName(curDate) + "</span>",
                            width: 40,
                            align: 'center',
                            halign: 'center',
                            //formatter: function (value, row, index) {
                            //    if (!value) {
                            //        return ""
                            //    } else {
                            //        return "<img src='/js/easyui/themes/icons/ok.png' />";
                            //    }
                            //}
                        });
                    }
                    return [oneRow, twoRow,threeRow];
                },
                createDto:function(userId,userDays){
                    var params = methods.getParam();
                    return $.extend(params, {
                        "userId": userId,
                        "userDays": userDays
                    });
                },
                save:function(){
                    $.formSave({
                        id: 'frm_schedule',
                        action: function (fields, isAdd) {
                            fields["yFlag"] = methods.getParam().yFlag;
                            fields["mFlag"] = methods.getParam().mFlag;
                            _scheduleService.batchSave(fields, {
                                success: function () {
                                    $('#dlg_schedule').dialog('close');
                                    //更新表
                                    var sDay = new Date($('#txtSDate').datebox('getValue')).getDate(), eDay = new Date($('#txtEDate').datebox('getValue')).getDate();
                                    for (var d = sDay; d <= eDay; d++) {
                                        var obj = {};
                                        obj[""+d] = fields["classType"];
                                        $('#tb_scheduling').datagrid('updateRow', {
                                            index: scheduleBox.curRowIndex,
                                            row: obj
                                        });
                                    }
                                    scheduleBox.curRowIndex = -1;
                                }, error: function (errorInfo) {
                                    //清空记录
                                    abp.notify.error(errorInfo, "信息提示")
                                }
                            });
                        }
                    });
                },
                cancel: function () {
                    var obj = {
                    };
                   
                    var row = $('#tb_scheduling').datagrid('getRows')[scheduleBox.curRowIndex];
                    console.log(row);
                    var scheduleId = row[scheduleBox.curDay + "_id"];
                    _scheduleService.delete({
                        id: scheduleId
                    }, {
                        success: function (data) {
                            
                            obj[scheduleBox.curDay] = "";
                            $('#tb_scheduling').datagrid('updateRow', {
                                index: scheduleBox.curRowIndex,
                                row: obj
                            });
                            scheduleBox.curDay = -1;
                            scheduleBox.curRowIndex = -1;
                        }
                    });
                },
                queryData: function (month) {
                    _scheduleService.getSchedules(methods.getParam(month), {
                        success: function (data) {
                            var formateData = methods.formateData(data);
                            methods.initTable(formateData);
                        }
                    });
                },
                formateData: function (result) {
                    return result.map(function (item) {
                        var userDays = item.userDays;
                        if (userDays.length == 0) {
                            return item;
                        }
                        userDays.forEach(function (day) {
                            var tempDay=day.dFlag,desc=day.dFlag+"_desc",id=day.dFlag+"_id";
                            item[tempDay] = day.classType;
                            item[desc] = day.description;
                            item[id] = day.id;
                        });
                        return item;
                    });
                },
                addUser: function () {
                    //
                    $.dialogAndDg({
                        dlgOpts: {
                            width: 700,
                            height: 500,
                            title: '选择人员'
                        },
                        tbOpts: {
                            url: '/api/services/app/user/getAll',
                            columns: [[
                                { field: 'id', hidden: true, width: 30 },
                                //{ field: 'ck',checkbox:true, width: 30 },
                                { field: 'deptId', hidden: true, width: 30 },
                                { field: 'account', title: '账号', width: 80, sortable: true },
                                { field: 'userName', title: '姓名', width: 80 },
                                { field: 'phone', title: '联系方式', width: 120 },
                                { field: 'sex', title: '性别', width: 80 },
                                { field: 'deptName', title: '隶属部门', width: 120 }
                            ]],
                            onDblClickRow: function (index, row) {
                                var param = methods.getParam();
                                console.log(row)
                                var days = $.dayNumOfMonth(param.yFlag, param.mFlag);
                                var newRow = {
                                    "userId": row.id,
                                    "userName": row.userName,
                                    "position": row.position,
                                    "areaName": row.areaName || "",
                                    "workMode": row.workMode || ""
                                };
                                for (var j = 1; j <= days; j++) {
                                    var name = "" + j;
                                    newRow[name] = "";
                                }
                                $('#tb_scheduling').datagrid("appendRow", newRow)
                            }
                        }
                    });
                }
            }

            methods.init();
            methods.queryData();

        });
    </script>

}