@using WOrder.Web.Startup

@{
    ViewBag.ActiveMenu = PageNames.UserWorkCount;
    //Layout = null;
}



<div class="easyui-layout" id="ly_tran" data-options="fit:true,border:false">
    <div data-options="region:'north',height:50" style="padding:7px 10px;">
        <table class="query-table">
            <tr>
                <td>运送日期</td>
                <td><input class="easyui-datebox" id="txtSDate" /></td>
                <td>-</td>
                <td><input class="easyui-datebox" id="txtEDate" /></td>
                <td>
                    人员
                </td>
                <td>
                    <input class="easyui-searchbox" id="txtUserName" />
                </td>
                <td>
                    科室
                </td>
                <td>
                    <input class="easyui-searchbox" id="txtDept" />
                </td>
                <td>
                    <a id="btnQuery" class="easui-linkbutton">查询</a>
                </td>

            </tr>
        </table>
    </div>
    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true,border:false">
            <div data-options="region:'west',width:500">
                <table id="tb_deptNum"></table>
            </div>
            <div data-options="region:'center'">
                <table id="tb_userNum"></table>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
    $(function () {
        var _reportService = abp.services.app.report
       ;
        var methods = {
            init: function () {
                $.parser.parse('#ly_tran')

                $('#txtSDate').datebox({
                    width: 120,
                    editable: false,
                    icons: [{
                        iconCls: 'icon-clear',
                        handler: function (e) {
                            $(e.data.target).textbox('clear');
                        }
                    }]
                });


                $('#txtEDate').datebox({
                    width: 120,
                    editable: false,
                    icons: [{
                        iconCls: 'icon-clear',
                        handler: function (e) {
                            $(e.data.target).textbox('clear');
                        }
                    }]
                })

                $('#btnQuery').linkbutton({
                    iconCls: 'icon-search',
                    width: 80,
                    plain:true,
                    onClick: function () {
                        methods.query()
                    }
                });


                $('#txtUserName').searchbox({
                    width: 150,
                    prompt:'人员',
                    searchbox: function () {
                        methods.query();
                    }
                });

                $('#txtDept').searchbox({
                    width: 150,
                    prompt: '科室',
                    searchbox: function () {
                        methods.query();
                    }
                });

               
            },
            initTable: function (queryParam) {

                //初始化正常表
                $.dgInit({
                    singleSelect: true,
                    id: "tb_deptNum",
                    title: "科室统计",
                    queryParams:queryParam,
                    url: '/api/services/app/report/getTypeCount',
                    columns: [[
                        {
                            field: 'name', title: '科室', width: 80
                        },
                        { field: 'value', title: '运送数量', align: 'center', width: 80 },

                    ]],

                });

                //初始化正常表
                $.dgInit({
                    singleSelect: true,
                    id: "tb_userNum",
                    title: "人员统计",
                    queryParams: queryParam,
                    url: '/api/services/app/report/GetUserWork',
                    columns: [[
                        {
                            field: 'userName', title: '运送人', width: 80
                        },
                        {
                            field: 'position', title: '岗位', width: 80
                        },
                        { field: 'userNum', title: '运送数量', align: 'center', width: 80 },

                    ]],

                });
            },
            getParam:function(){
                return {
                    "sDate": $('#txtSDate').datebox("getValue"),
                    "eDate": $('#txtEDate').datebox("getValue"),
                    "userName": $('#txtUserName').searchbox('getValue'),
                    "oAdress": $('#txtDept').searchbox('getValue'),
                    "orderType": 1,
                }
            },
            query: function (param) {
                var queryParam=$.extend(methods.getParam(), param);
                $('#tb_deptNum').datagrid('reload', queryParam);
                $('#tb_userNum').datagrid('reload', queryParam);
            }
        }

        methods.init();
        methods.initTable(methods.getParam());
    })
    </script>

}