
@using WOrder.Web.Views.Shared.Components.User;

@model UserViewModel
<!------两种情况 1.登陆了,显示登陆人的姓名;2.未登陆,显示登陆按钮-------->
@{
    if (!string.IsNullOrEmpty(Model.Account))
    {
<a class="u-message" href="javascript:void(0)">
    <span class="number" id="txtMsg"></span>
    <img src="~/image/bell.png" />
    <span class="text">消息</span>
</a>
        <div class="u-name">
            <a href="javascript:void(0)">@Model.UserName</a>
        </div>
        <div class="signout">
            <a href="@Url.Action("SignOut", "Account")">
                @*<img src="~/image/logout.png" />*@
            </a>
        </div>
    }
    else
    {
        <a href="/Account/Login">登陆</a>
    }
}