
@using WOrder.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.Approve;
}
<!---------订单信息---------->



<div class="layui-container layui-bg-white">
    <div class="row">
        <div class="layui-col-md12" style="padding:10px 0px;font-size:15px;">
            <span class="layui-breadcrumb " lay-separator=">">
                <a href="/">首页</a>
                <a><cite>订单审批</cite></a>
            </span>
        </div>
    </div>
    <hr class="layui-bg-gray" />

    <!--------表格数据--------->
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-tab layui-tab-brief" lay-filter="f_approve">
                <ul class="layui-tab-title">
                    <li class="layui-this">
                        待处理
                        @if (ViewBag.WaitNum != 0)
                        {
                            <span class="layui-badge" id="pnum_1">@ViewBag.WaitNum</span>
                        }
                    </li>
                    <li>
                        采购中
                        @if (ViewBag.PurchaseNum != 0)
                        {
                            <span class="layui-badge" id="pnum_2">@ViewBag.PurchaseNum</span>
                        }
                        else
                        {
                            <span id="pnum_2"></span>
                        }
                    </li>
                    <li>
                        已到货
                        @if (ViewBag.ReceiveNum != 0)
                        {
                            <span class="layui-badge" id="pnum_3">@ViewBag.ReceiveNum</span>
                        }
                        else
                        {
                            <span id="pnum_3"></span>
                        }
                    </li>
                    <li>已完结</li>
                </ul>
                <div class="layui-tab-content">
                    <a class="layui-btn layui-btn-danger" id="btnBatch" status="1">批量采购</a>
                    <a class="layui-btn" id="btn_showDetails">所有明细</a>
                    <a class="layui-btn" id="btn_download">下载清单</a>
                    <table id="tb_init" lay-filter="f_init"></table>
                </div>
            </div>

        </div>
    </div>

</div>



@section Scripts{


    <script type="text/javascript">

        layui.use(['laytpl', 'element', 'layer', 'jquery', 'laypage', 'abptable'], function () {

            var laytpl = layui.laytpl
              , layer = layui.layer
              , $ = layui.jquery
              , element = layui.element
              , table = layui.abptable
              , laypage = layui.laypage
              , _orderService = abp.services.app.order;


            var endNum = '@ViewBag.EndOrderNum'

            var methods = {
                //1:事件注册
                initEvent: function () {
                    element.on('tab(f_approve)', function (data) {
                        methods.reload(data.index);
                        $('#btnBatch').show();
                        $('#btnBatch').attr('status', data.index + 1);
                        switch (data.index) {
                            case 0:
                                $('#btnBatch').text("批量采购");
                                break;
                            case 1:
                                $('#btnBatch').text("批量到货");
                                break;
                            case 2:
                                $('#btnBatch').text("批量完成");
                                break;
                            default: $('#btnBatch').hide();
                        }
                    });

                    //2.监听工具条事件
                    table.on('tool(f_init)', function (obj) {
                        var data = obj.data;
                        var status = $(this).attr('status');
                        if (obj.event === 'change') {
                            layer.confirm('确定要' + $(this).text() + '订单:<span style="color:red;">[' + data.orderNo + ']</span> ?', function (index) {
                                methods.changeStatus([data.id], status, function () {
                                    obj.del();
                                    layer.close(index);
                                    //加上上一阶段的值
                                    methods.add(status);
                                    //减去当前阶段的值
                                    methods.sub(status);
                                });
                            });
                        } else if (obj.event === 'detail') {
                            location.href = "/Order/Details/" + data.cartId;
                        }
                    });

                    $('#btnBatch').click(function () {
                        var status = $(this).attr('status');
                        methods.batchData(status);
                    });

                    $('#btn_showDetails').click(function () {
                        //查看清单详情
                        methods.showDetails();
                    });

                    $('#btn_download').click(function () {
                        methods.download();

                    })
                },
                //变更状态
                //orderIds orderid 的集合
                //status 变更的状态
                //callback 成功后的回掉
                changeStatus: function (orderIds, status, callBack) {
                    var params = {
                        "orderIds": orderIds,
                        "orderStatus": status
                    };
                    _orderService.acceptOrder(params, {
                        success: callBack
                    });
                },

                reload: function (index) {
                    table.reload('tb_init', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            orderStatus: index
                        }
                    });
                },
                initTb: function () {
                    //初始化表格
                    table.render({
                        elem: '#tb_init'
                        , url: '/api/services/app/order/GetOrders?orderType=1' //获取待审核的订单
                        , page: true //开启分页
                        , height: 'full-270'
                        , cellMinWidth: 80
                        , cols: [[ //表头
                            { type: 'numbers' } //序号
                            , { type: 'checkbox' } //选择列
                            , { field: 'orderNo', title: '订单编号', align: 'center', width: 150, templet: '#tpl_orderNo' }
                            , { field: 'addressInfo', title: '地址信息', align: 'center' }
                            , { field: 'orderStatus', title: '订单状态', align: 'center', width: 120, templet: '#tpl_status' }
                            , { field: 'creatorName', title: '创建人', align: 'center', width: 120 }
                            , { field: 'creationTime', title: '创建时间', align: 'center', width: 160 }
                            , { field: 'allPrice', title: '订单价格', width: 100, align: 'right', sort: true }
                            , { field: 'action', title: '操作', width: 100, align: 'center', toolbar: '#tool_order' }
                        ]]
                    });
                },
                showDetails: function () {
                    //1.校验清单
                    var checkRows = table.checkStatus('tb_init').data;
                    if (checkRows.length == 0) {
                        layer.msg("请选择要显示的订单");
                        return;
                    }

                    //2.查看明细
                    var cartIds = checkRows.map(function (item) {
                        return item.cartId;
                    }).join('_');
                    //3.
                    window.open("/Order/Details/" + cartIds);

                },
                download: function () {
                    //1.校验清单
                    var checkRows = table.checkStatus('tb_init').data;
                    if (checkRows.length == 0) {
                        layer.msg("请选择要显示的订单");
                        return;
                    }

                    //2.查看明细
                    var cartIds = checkRows.map(function (item) {
                        return item.cartId;
                    });
                    var strParams = abp.utils.buildQueryString([{ name: 'cartIds', value: cartIds }]);

                    $.fileDownload("/Cart/DownExcel/" + strParams)
                },
                batchData: function (status) {

                    var checkRows = table.checkStatus('tb_init').data;
                    if (checkRows.length == 0) {
                        layer.msg("请选择要处理的数据");
                        return;
                    }
                    var listIds = checkRows.map(function (item) {
                        return item.id;
                    })
                    methods.changeStatus(listIds, status, function () {
                        methods.reload((status - 1));
                        var length = listIds.length;
                        //1:添加数量
                        methods.add(status, length);
                        //2:减去数量
                        methods.sub(status, length);
                    });
                },
                add: function (status, num) {
                    var id = "pnum_" + (parseInt(status) + 1);
                    var srcNum = $('#' + id).text();
                    if (srcNum == "") {
                        srcNum = 0;
                        $('#' + id).addClass('layui-badge')
                    }
                    var newValue = num || 1;
                    $('#' + id).text(parseInt(srcNum) + newValue);
                },
                sub: function (status, num) {
                    var id = "pnum_" + status;
                    var srcValue = $('#' + id).text();
                    if (srcValue == "") {
                        abp.message.error("操作失误");
                        return;
                    }
                    var newValue = num || 1;
                    $('#' + id).text(parseInt(srcValue) - newValue);
                }
            }

            methods.initEvent();
            methods.initTb('tb_init')
        });
    </script>

    <!--------表格数据模板--------->
    <script type="text/html" id="tpl_status">
        {{# if( d.orderStatus === 0 ) { }}
        <span style="color:gray;">待接单</span>
        {{# } else if (d.orderStatus === 1) { }}
        <span style="color:gray;">采购中</span>
        {{# } else if (d.orderStatus === 2) { }}
        <span style="color:blue;">已到货</span>
        {{# } else { }}
        <span style="color:green;">完结</span>
        {{# }  }}
    </script>


    <script type="text/html" id="tool_order">
        {{# if( d.orderStatus === 0 ) { }}
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="change" status="1">采购</a>
        {{# } else if (d.orderStatus === 1) { }}
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="change" status="2">到货</a>
        {{# } else if (d.orderStatus === 2) { }}
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="change" status="3">发货</a>
        {{# } else { }}
        {{# }  }}

    </script>


    <script type="text/html" id="tpl_orderNo">
        <a href="/Order/Details/{{d.cartId}}" class="layui-table-link" target="_blank">{{ d.orderNo }}</a>
    </script>

}