
@using WOrder.Cart
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "订单详情";
}
<!---------订单信息---------->



<div class="layui-container layui-bg-white" style="padding-bottom:50px;">
    <div class="row">
        <div class="layui-col-md12" style="padding:10px 0px;font-size:15px;">
            <span class="layui-breadcrumb " lay-separator=">">
                <a href="/">首页</a>
                <a href="@ViewBag.ReqUrl">订单</a>
                <a><cite>订单详情</cite></a>
            </span>
        </div>
    </div>
    <hr class="layui-bg-gray" />

    <div class="layui-row">
        <div class="layui-col-md12">
            <a class="layui-btn" id="btnDownload">下载</a>
        </div>
    </div>

    <!--------表格数据--------->
    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-table" id="tb_cartItems" lay-filter="f_cartItems"></table>
        </div>
    </div>
    <div class="layui-row" style="text-align:right;">

    </div>
    <!--------数据合计--------->

</div>



@section Scripts{

    <script type="text/javascript">
        layui.use(['element', 'layer', 'jquery', 'form', 'abptable'], function () {

            var
                layer = layui.layer
              , form = layui.form
              , $ = layui.jquery
              , table = layui.abptable
              , _cartAppService = abp.services.app.cart
              , _commentService = abp.services.app.comment
              , layIndex = -1
              , ids = "@ViewBag.Ids"
              , isComment = "@ViewBag.IsComment";


            var methods = {
                initEvent: function () {
                    //接收购物车的id,将购物车中进行处理
                    var cartIds = ids.split('_');


                    var strParams = abp.utils.buildQueryString([{ name: 'cartIds', value: cartIds }]);

                    var columns = [[
                          { type: 'numbers' }
                          , { field: 'itemName', title: '物品名称', align: 'left', width: 200, templet: '#tpl_name' }
                          //, { field: 'itemSpecs', title: '详细参数', align: 'left', width: 200 }
                          , { field: 'describe', title: '特殊说明', align: 'left' }
                          , { field: 'itemNum', title: '数量', align: 'right', width: 80 }
                          , { field: 'itemPrice', title: '单价', align: 'right', width: 80 }
                          //最新单价
                          , { field: 'newPrice', title: '最新单价', align: 'right', width: 90,templet:'#tpl_newP' }
                          , { field: 'allPrice', title: '小计', align: 'right', width: 80 }
                          , { field: 'creatorUserName', title: '申请人', align: 'center', width: 110 }
                          , { field: 'applyDate', title: '时间', align: 'center', width: 140 }
                          , { field: 'linkAddr', title: '网址', align: 'center', width: 90, templet: '#tpl_link' }
                          , {
                              fixed: 'right', title: "操作", width: 90, align: 'center', toolbar: '#tool_comment'
                          }
                    ]];

                    table.render({
                        elem: '#tb_cartItems'
                        , url: '/api/services/app/cart/getCartByIds' + strParams //数据接口
                        , page:true
                        , height: 'full-270'
                        , cellMinWidth: 80
                        , cols: columns
                        , done: function (res) {
                            var allPrice = 0, total = 0;
                            res.result.items.forEach(function (item) {
                                allPrice += parseFloat(item.allPrice);

                                total += parseFloat(item.itemNum);
                            })
                            var strFoot = "<div style='font-size:15px;text-align:right;padding:3px;color:blue;'><label>数量合计:</label><span style='color:red;padding:5px;font-size:15px;'>" + total + "</span> <label style='margin-left:10px;'>积分合计:</label><span style='color:red;padding:5px;font-size:15px;'>" + allPrice + "</span></div>";
                            $('#' + this.page.elem).html(strFoot);
                        }
                    })

                    form.on('submit(btnSubmit)', function (data) {
                        _commentService.create(data.field, {
                            success: function (res) {
                                layer.msg("评论成功")
                                layer.close(layIndex);
                            }
                        });
                    });


                    table.on('tool(f_cartItems)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                        var data = obj.data; //获得当前行数据
                        if (obj.event == 'comment') { //查看
                            var productId = data.productId;
                            layIndex = layer.open({
                                type: 1,
                                content: tpl_comment.innerHTML,
                                title: "提交评论",
                                area: ['800px', '400px'],
                                success: function () {
                                    $('#frm_comment').find('input[name=ProductId]').eq(0).val(productId);
                                    form.render();
                                }
                            });
                        }
                    })

                    $('#btnDownload').click(function (data) {

                        $.fileDownload("/Cart/DownExcel/" + strParams)

                    });
                },
            }

            methods.initEvent();
        });
    </script>

    <script type="text/html" id="tpl_comment">
        <form class="layui-form" style="padding:10px 20px;" id="frm_comment">
            <input type="hidden" name="ProductId" />
            <div class="layui-form-item">
                <label class="layui-form-label">踩/赞</label>
                <div class="layui-input-block">
                    <input type="radio" name="CStatus" value="1" title="赞" checked="checked">
                    <input type="radio" name="CStatus" value="0" title="踩">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">评价</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="Comment" lay-verify="required" placeholder="写点什么吧,你的购买力,我的无穷力" rows="10"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="button" lay-submit lay-filter="btnSubmit" style="background-color:#01AAED;"><i class="layui-icon">&#xe609;</i> 提交  </button>
                </div>
            </div>
        </form>
    </script>

    <!--------------评论按钮--------------->
    <script type="text/html" id="tool_comment">
        <a class="layui-btn layui-btn-xs" lay-event="comment">评价</a>
    </script>

    <!--------------自定义物品明细显示--------------->
    <script type="text/html" id="tpl_name">
        <a href="/Home/Details/{{d.productId}}" class="layui-table-link" target="_blank">{{ d.itemName }}</a>
    </script>

    <!--------------自定义物品明细显示--------------->
    <script type="text/html" id="tpl_link">
        {{# if(d.linkAddr&&d.linkAddr.length>0){}}
        <a href="{{d.linkAddr}}" class="layui-table-link" target="_blank">网址</a>
        {{# } }}
    </script>

    <!--------------物品最新单价,如果价格不一致,就显示红色--------------->
    <script type="text/html" id="tpl_newP">
        {{# if(d.newPrice!=d.itemPrice){}}
            <span style="color:red;">{{d.newPrice}}</span>
        {{# } }}
    </script>



}