@using WOrder.Web.Startup

@{
    ViewBag.ActiveMenu = PageNames.WorkOrder;
    //Layout = null;
}



<div class="easyui-layout" id="ly_order" data-options="fit:true,border:false">
    <div data-options="region:'north',height:50" style="padding:7px 10px;">
        <table class="query-table">
            <tr>
                <td>反馈状态</td>
                <td><input class="easyui-combobox" id="txtTStatus" value="0" /></td>
                <td>反馈日期</td>
                <td><input class="easyui-datebox" id="txtSDate" /></td>
                <td>-</td>
                <td><input class="easyui-datebox" id="txtEDate" /></td>
                <td>
                    关键字
                </td>
                <td>
                    <input class="easyui-searchbox" id="txtKey" />
                </td>
                <td>
                    <a id="btnQuery" class="easui-linkbutton">查询</a>
                </td>

            </tr>
        </table>
    </div>
    <div data-options="region:'center'">
        <div class="easyui-tabs" id="tabs_order" data-options="fit:true,border:false,tabWidth:150,tabPosition:'bottom'">
            <table id="tb_feedback"></table>
        </div>
    </div>
</div>


<!-- 字典信息增删该查 -->
<div id="dlg_feedback" class="easyui-dialog" data-options="width:700,height:450,closed:true,title:'任务信息'">
    <form id="frm_feedback" method="POST">
        <input type="hidden" name="id">
        <input type="hidden" name="orderNo" />
        
        <table class="form-table">
            <tr>
                <td class="tdLabel">任务类别</td>
                <td>
                    <input class="easyui-textbox" id="frm_category" name="category" data-options="width:200,required:true,editable:false,value:'在线反馈'" />
                </td>
                <td class="tdLabel">反馈状态</td>
                <td>
                    <input class="easyui-combobox" data-options="valueField: 'id',textField:'name',editable:false,
                    width:200,
                    data: [{ id: 0, name: '待处理' }, { id: 1, name: '处理中' }, { id: 2, name: '已完成' }]" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">反馈标题</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="itemName" data-options="width:500,required:true,prompt:'最短4位,最长20位'" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">具体位置</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="oAddress" data-options="width:500,required:true,prompt:'问题的位置信息'" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">反馈描述</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="description" data-options="width:500,required:true,height:'100',multiline:true" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
    $(function () {
        var _orderService = abp.services.app.order
        , categoryURL = "/api/services/app/Dictionary/GetAll?dictType=" + encodeURIComponent("任务分类")
        , curIndex = 0
        , category="在线反馈";
        var methods = {
            init: function () {
                $.parser.parse('#ly_order')
                $.parser.parse('#dlg_feedback');

                $('#dlg_feedback').dialog({
                    buttons: [
                        {
                            text: '保存',
                            iconCls: 'icon-save',
                            handler: function () {
                                methods.save();
                            }
                        }, {
                            text: '关闭',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $('#dlg_feedback').dialog('close');
                            }
                        }
                    ]
                });

                var baseOption = {
                    textField: 'name',
                    method: "GET",
                    editable: false,
                    icons: [{
                        iconCls: 'icon-clear',
                        handler: function (e) {
                            $(e.data.target).textbox('clear');
                        }
                    }]
                }

                $('#txtTStatus').combobox($.extend({
                    valueField: 'id',
                    width:90,
                    data: [{ id: 0, name: '待处理' },
                            { id: 1, name: '处理中' },
                            { id: 2, name: '已完成' }],
                    onHidePanel: function () {
                        methods.query();
                    }
                }, baseOption));

                $('#txtSDate').datebox({
                    width: 120,
                    editable:false,
                    icons: [{
                        iconCls: 'icon-clear',
                        handler: function (e) {
                            $(e.data.target).textbox('clear');
                        }
                    }]
                })

                $('#txtEDate').datebox({
                    width: 120,
                    editable: false,
                    icons: [{
                        iconCls: 'icon-clear',
                        handler: function (e) {
                            $(e.data.target).textbox('clear');
                        }
                    }]
                })

                $('#btnQuery').linkbutton({
                    iconCls: 'icon-search',
                    width: 80,
                    plain:true,
                    onClick: function () {
                        methods.query()
                    }
                });


                $('#txtKey').searchbox({
                    width: 250,
                    searchbox: function () {
                        methods.query();
                    }
                })

            },
            initTable: function (queryParam) {

                var dgOptions = {
                    singleSelect: false,
                    checkOnSelect: false,
                    selectOnCheck: false,
                    queryParams: queryParam
                };
                //初始化正常表
                $.dgInit($.extend({
                    id: "tb_feedback",
                    url: '/api/services/app/order/getAll?orderType=0',
                    toolbar: [
                        {
                            text: "新增",
                            iconCls: 'icon-add',
                            handler: function () {

                                $('#frm_feedback').form('clear');
                                $('#dlg_feedback').dialog('open');

                                $('#frm_category').textbox('setValue', category);
                            }
                        }, '-', {
                            text: "编辑",
                            iconCls: 'icon-edit',
                            handler: function () {

                                $.rowSelectCheck('tb_feedback', "请先要编辑的人员", function (row) {
                                    $('#frm_feedback').form('load', row);
                                    $('#dlg_feedback').dialog('open')
                                    //将no设置未只读
                                })
                            }
                        }, '-', {
                            text: "删除",
                            iconCls: 'icon-remove',
                            handler: function () {
                                $.rowSelectCheck('tb_feedback', "请先选择要删除的人员", function (row,rowIndex) {
                                    abp.message.confirm("确定要删除人员:" + row.name, function (r) {
                                        _userService.delete({ id: row.id }, {
                                            success: function (data) {
                                                abp.notify.success("删除成功");
                                                $('#tb_feedback').datagrid('deleteRow', rowIndex)
                                            }
                                        })
                                    });
                                })
                            }
                        }, '-', {
                            text: "移动到抢单池",
                            iconCls: 'icon-redo',
                            handler: function () {
                                methods.robOrder();
                            }
                        }
                    ],
                    columns: [[
                        { field: 'id', hidden: true, width: 30 },
                        { field: 'tStatus', hidden: true, width: 30 },
                        {
                            field: 'assign', title: '处理人', width: 60,align:'center',
                            formatter: function (value, row, index) {
                                if (row.tStatus == 0) {
                                    return "<a href='javascript:void(0)' orderId='"+row.id+"' rowIndex='"+index+"'  class='btn-assign' >派单</a>"
                                } else {
                                    return "<a href='javascript:void(0)' orderId='" + row.id + "' rowIndex='" + index + "'  class='btn-pUsers' >查看</a>";
                                }
                            }
                        },
                        { field: 'orderNo', title: '反馈编号', width: 100 },
                        { field: 'itemName', title: '反馈标题', width: 150, formatter: function (value, row, index) { return "<a class='easyui-tips'>" + value + "<a>" } },
                        {
                            field: 'tStatusName', title: '状态', align: 'center', width: 80,
                            styler: function (value, row, index) {
                                if (row.tStatus == 0) {
                                    return "color:red;"
                                } else if (row.tStatus == 1) {
                                    return "color:blue;"
                                } else if (row.tStatus == 2) {
                                    return "color:green;"
                                }
                            }
                        },
                        { field: 'creatorName', title: '提出人', align: 'center', width: 80 },
                        { field: 'creationTime', title: '提出时间', align: 'center', width: 110, sortable: true },
                        { field: 'oAddress', title: '具体位置', width: 150 },
                        { field: 'description', title: '反馈描述', width: 200 },
                    ]],
                    onLoadSuccess: function (data) {
                        var rows = data.rows;
                        $('.btn-assign').click(function () {
                            var orderId = $(this).attr('orderId')
                            ,rowIndex=$(this).attr('rowIndex');
                            methods.assign(rowIndex,orderId)
                        });

                        $('.btn-pUsers').click(function () {
                            var orderId = $(this).attr('orderId')
                            , rowIndex = $(this).attr('rowIndex');
                            var result = rows.filter(function (item) {
                                return item.id == orderId;
                            })[0].handlers;
                            methods.showProcess(result)
                        });
                    }
                }, dgOptions));
            },
            getParam:function(){
                return {
                    "tStatus": $('#txtTStatus').combobox("getValue"),
                    "sDate": $('#txtSDate').datebox("getValue"),
                    "eDate": $('#txtEDate').datebox("getValue"),
                    "category": category,
                    "itemName":$('#txtKey').searchbox('getValue')
                }
            },
            query: function (param) {
                var queryParam=$.extend(methods.getParam(), param);
                $('#tb_feedback').datagrid('reload', queryParam);
            },

            save: function () {
                $.formSave({
                    id: 'frm_feedback',
                    action: function (fields, isAdd) {
                        console.log(fields)
                        if (isAdd) {
                            _orderService.create(fields, {
                                success: function (data) {
                                    $('#dlg_feedback').dialog('close');
                                    methods.query();
                                }
                            })
                        } else {
                            _orderService.update(fields, {
                                success: function (data) {
                                    $('#dlg_feedback').dialog('close')
                                    methods.query();
                                }
                            })

                        }

                    }
                });
            },
            assign: function (rowIndex,oId) {
                $.dialogAndDg({
                    dlgOpts: {
                        title: "处理人",
                        width: 700,
                        height: 400,
                        id:'dlg_assign'
                    },
                    tbOpts: {
                        id: "tb_assignU",
                        url: '/api/services/app/user/getAll',
                        columns: [[
                            { field: 'id', hidden: true, width: 30 },
                            { field: 'deptId', hidden: true, width: 30 },
                            { field: 'account', title: '账号', width: 80, sortable: true },
                            { field: 'userName', title: '姓名', width: 80 },
                            //{ field: 'deptName', title: '隶属部门', width: 120 },
                            { field: 'position', title: '岗位', width: 80 },
                            { field: 'phone', title: '联系方式', width: 120 },
                            { field: 'sex', title: '性别', width: 80 },
                        ]],
                        onDblClickRow:function(index,row){
                            _orderService.assign([{
                                handleId: row.id,
                                orderId: oId,
                                oStatus:0
                            }], {
                                success: function (resData) {
                                    abp.notify.success("派人成功,单据进入<span style='color:blue;'>处理状态</span>", "反馈提示");
                                    methods.query();
                                }
                            });
                        }
                    }
                });
            },
            showProcess: function (userData) {
                $.dialogAndDg({
                    dlgOpts: {
                        title: "处理人",
                        width: 500,
                        height: 400,
                    },
                    tbOpts: {
                        data:userData,
                        columns: [[
                            { field: 'userName', title: '姓名', width: 80 },
                            {
                                field: 'statusName', title: '姓名', width: 80,
                                styler: function (value, row, index) {
                                    if (row.oStatus == 0) {
                                        return "color:red;"
                                    } else if (row.oStatus == 1) {
                                        return "color:blue;"
                                    } else if (row.oStatus == 2) {
                                        return "color:green;"
                                    }
                                }
                            }
                        ]],
                    }
                });
            }
        }

        methods.init();
        methods.initTable(methods.getParam());
    })
    </script>

}