@using WOrder.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.Dictionary;
    Layout = null;
}


<div class="easyui-layout" id="ly_dict" data-options="fit:true,border:false">
    <div data-options="region:'west',width:200,title:'字典分类',tools:[{iconCls:'icon-add',handler:function(){$('#dlg_dictType').dialog('open');$('#frm_dictType').form('clear')}}]" style="padding:5px 0px;">
        <ul class="easyui-tree" id="tree_dict"></ul>
    </div>
    <div data-options="region:'center'">
        <table id="tb_dict"></table>
    </div>
</div>
<!-- 字典类别 -->
<div id="dlg_dictType">
    <form id="frm_dictType" method="post">
        <input type="hidden" name="id" />
        <table class="form-table">
            <tr>
                <td class="tdLabel">类别名称</td>
                <td>
                    <input class="easyui-textbox" name="name" data-options="width:300,required:true" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">类别序号</td>
                <td>
                    <input class="easyui-numberbox" name="sortNo" data-options="width:300,required:true,prompt:'10/20'" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">类别备注</td>
                <td>
                    <input class="easyui-textbox" name="memo" data-options="width:300,multiline:true,height:100" />
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- 字典信息增删该查 -->
<div id="dlg_dict" class="easyui-dialog" data-options="width:500,height:400,closed:true,title:'字典'">
    <form id="frm_dict" method="POST">
        <input type="hidden" name="id">
        <input type="hidden" name="isDel" value="0">
        <table class="form-table">
            <tr>
                <td class="tdLabel">字典类别</td>
                <td>
                    <input class="easyui-textbox" id="txtDictType" name="dictType" data-options="width:300,required:true,readonly:true" />
                </td>
            </tr>

            <tr>
                <td class="tdLabel">字典名称</td>
                <td>
                    <input class="easyui-textbox" name="name" data-options="width:300,required:true,prompt:'XX'" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">字典编号</td>
                <td>
                    <input class="easyui-textbox" name="no" data-options="width:300,required:true,prompt:'默认字典名称拼音首字母大写'" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">字典序号</td>
                <td>
                    <input class="easyui-numberbox" name="sortNo" data-options="width:300,required:true,prompt:'10/20'" />
                </td>
            </tr>

            <tr>
                <td class="tdLabel">字典备注</td>
                <td>
                    <input class="easyui-textbox" name="memo" data-options="width:300,multiline:true,height:100" />
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- 字典类别的右键菜单 -->
<div id="mm_dict" class="easyui-menu" style="width:120px;">
    <div data-options="iconCls:'icon-edit'">编辑</div>
    <div data-options="iconCls:'icon-remove'">删除</div>
</div>



<script type="text/javascript">
    $(function () {
        var  selectNode
            , treeUrl = "/api/services/app/DictType/GetAll?maxResultCount=10000&skipCount=0"
            , _typeService = abp.services.app.dictType
            , _dictService = abp.services.app.dictionary;
        var methods = {
            init: function () {
                $.parser.parse('#dlg_dictType');
                $.parser.parse('#dlg_dict');
                $('#dlg_dictType').dialog({
                    width: 500, height: 300, closed: true, title: '字典类别',
                    buttons: [
                        {
                            text: '保存',
                            iconCls: 'icon-save',
                            handler: function () {
                                methods.saveDictType();
                            }
                        }, {
                            text: '关闭',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $('#dlg_dictType').dialog('close');
                            }
                        }
                    ]
                });

                $('#dlg_dict').dialog({
                    buttons: [
                        {
                            text: '保存',
                            iconCls: 'icon-save',
                            handler: function () {
                                methods.saveDict();
                            }
                        }, {
                            text: '关闭',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $('#dlg_dict').dialog('close');
                            }
                        }
                    ]
                });
            },
            initTree: function () {
                $.treeInit({
                    id: 'tree_dict',
                    url: treeUrl,
                    
                    onClick: function (node) {
                        selectNode = node;
                        //通过类型来获取字典数据
                        methods.queryDict();
                    },
                    onContextMenu: function (e, node) {
                        e.preventDefault();
                        // select the node
                        $('#tree_dict').tree('select', node.target);
                        // display context menu
                        $('#mm_dict').menu('show', {
                            left: e.pageX,
                            top: e.pageY,
                            onClick: function (item) {
                                if (item.text == "编辑") {
                                    $('#frm_dictType').form('load', node.attributes);
                                    $('#dlg_dictType').dialog('open')
                                } else {
                                    abp.message.confirm("确定要删除<span style='color:red;'>" + node.text + "</span>,一旦删除该类别的字典都会删除",function(){
                                        _typeService.delete({ id: node.id }, {
                                            success: function (data) {
                                                $("#tree_dict").tree('reload');
                                            }
                                        })
                                    })
                                }
                            }
                        });
                    }
                })
            },
            initTable: function () {
                $.dgInit({
                    id: "tb_dict",
                    url: '/api/services/app/dictionary/getAll',
                    columns: [[
                        { field: 'id', hidden: true, width: 30 },
                        { field: 'dictType', title: '字典类型', width: 100 },
                        { field: 'no', title: '字典编号', width: 80 },
                        { field: 'name', title: '字典名称', width: 120 },
                        { field: 'sortNo', title: '字典排序', width: 80, sortable: true },
                        { field: 'memo', title: '备注信息', width: 200 }
                    ]],
                    toolbar: [
                        {
                            text: "新增",
                            iconCls: 'icon-add',
                            handler: function () {
                                if (!selectNode) {
                                    $.errorMsg("请先选择字典类别");
                                    return;
                                }
                                $('#frm_dict').form('clear');
                                $('#dlg_dict').dialog('open');
                                //console.log($('#txtDictType').textbox('getValue')+" aa")

                                $('#txtDictType').textbox('setValue', selectNode.text);
                            }
                        }, '-', {
                            text: "编辑",
                            iconCls: 'icon-edit',
                            handler: function () {

                                $.rowSelectCheck('tb_dict', "请先要编辑的字典", function (row) {
                                    $('#frm_dict').form('load', row);
                                    $('#dlg_dict').dialog('open')
                                    //将no设置未只读

                                })
                            }
                        }, '-', {
                            text: "删除",
                            iconCls: 'icon-remove',
                            handler: function () {
                                $.rowSelectCheck('tb_dict', "请闲选择要删除的字典", function (row) {
                                    abp.message.confirm("确定要删除" + row.name, function (r) {
                                        _dictService.delete({ id: row.id }, {
                                            success: function (data) {
                                                methods.queryDict(row.dictType);
                                            }
                                        })
                                    })
                                })
                            }
                        }
                    ]
                });
            },
            queryDict: function (obj) {
                var dictType = "";
                if (selectNode) {
                    dictType = selectNode.text;
                }else if(obj) {
                    dictType = obj.dictType;
                }
                $('#tb_dict').datagrid('reload', { "dictType": dictType });
            },
            saveDictType: function () {
                $.formSave({
                    id: 'frm_dictType',
                    action: function (data, isAdd) {
                        if (isAdd) {
                            _typeService.create(data, {
                                success: function (data) {
                                    $('#dlg_dictType').dialog('close');
                                    $('#tree_dict').tree('reload');
                                }
                            })
                        } else {
                            _typeService.update(data, {
                                success: function (data) {
                                    $('#dlg_dictType').dialog('close');
                                    $('#tree_dict').tree('reload');
                                }
                            })
                        }
                    }
                });
            },
            saveDict: function () {

                $.formSave({
                    id: 'frm_dict',
                    action: function (data, isAdd) {
                        if (isAdd) {
                            _dictService.create(data, {
                                success: function (data) {
                                    $('#dlg_dict').dialog('close');
                                    methods.queryDict(data.dictType);
                                }
                            })
                        } else {
                            _dictService.update(data, {
                                success: function (data) {
                                    $('#dlg_dict').dialog('close')
                                    methods.queryDict(data.dictType);
                                }
                            })

                        }

                    }
                });
            }
        }

        methods.init();
        methods.initTable();
        methods.initTree()
    })
</script>

