@using System.Globalization
@using System.Threading
@using System.Threading.Tasks
@using Abp.Timing
@using WOrder.Web.Views.Shared.Components.LanguageSelection


@using Abp.Web.Security.AntiForgery
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    AbpAntiForgeryManager.SetCookie(Context);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="dark.liu">

    @*<link rel="shortcut icon" href="~/favicon.ico">*@

    <title>后台管理系统</title>

    <!-- Global styles -->

    <environment names="Development">

        <link rel="stylesheet" href="~/lib/easyui/themes/color.css" />
        <link rel="stylesheet" href="~/lib/easyui/themes/icon.css" />
        <link rel="stylesheet" href="~/lib/easyui-plugin/themes/icon.css" />
        <link rel="stylesheet" href="~/lib/easyui/themes/default/easyui.css" />
        <link rel="stylesheet" href="~/lib/easyui-plugin/themes/easyui-extend.css" />
        <link rel="stylesheet" href="~/css/main.css" />

        <link rel="stylesheet" href="~/lib/viewer/viewer.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/_Bundles/layout-libs.min.css" asp-append-version="true" />
    </environment>

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

</head>
<body>

    @RenderBody()


    <!-- Global scripts -->
    <environment names="Development">
        <script src="~/lib/easyui/jquery.min.js"></script>
        <script src="~/lib/filedownload/jquery.filedownload.js"></script>
        <script src="~/lib/easyui/jquery.easyui.min.js"></script>
        <script src="~/lib/easyui/locale/easyui-lang-zh_CN.js"></script>
        <script src="~/js/main.js"></script>
        <!-- form表单 -->
        <script src="~/lib/ajaxForm/jquery.form.min.js"></script>

        <!-- abp js文件 -->
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js"></script>
        <script src="~/lib/easyui-plugin/easyui.abp.js"></script>

        <!-- 图片上传组件 -->
        <script src="~/lib/viewer/viewer.js"></script>
        <!-- echarts -->
        <script src="~/lib/echarts/echarts.min.js"></script>
        <script src="~/lib/signalr/jquery.signalR.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/layout-libs.min.js" asp-append-version="true"></script>
    </environment>


    <script type="text/javascript">

        abp.localization.defaultSourceName = '@LocalizationSourceName';

        //var chatHub = null;

        //abp.signalr.startConnection('/signalr', function (connection) {
        //    chatHub = connection; // Save a reference to the hub

        //    connection.on('getMessage', function (message) { // Register for incoming messages
        //        console.log("ddd")
        //        console.log('received message: ' + message);
        //    });

        //}).then(function (connection) {
        //    abp.log.debug('Connected to myChatHub server!');
        //    abp.event.trigger('myChatHub.connected');
        //});



    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <!-- signalr -->
    <script src="~/lib/signalr-client/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js" asp-append-version="true"></script>
    <!-- View specific scripts -->
    @*@if(SignalRFeature.)*@

    @RenderSection("scripts", required: false)

</body>
</html>
