@using WOrder.Web.Startup

@{
    ViewBag.ActiveMenu = PageNames.Approve;
    //Layout = null;
}


<div class="easyui-layout" id="ly_userApprove" data-options="fit:true,border:false">
    <div data-options="region:'north',height:50" style="padding:7px 10px;">
        <table class="query-table">
            <tr>
                <td>审核状态</td>
                <td><input class="easyui-combobox" id="txtActive" value="0" /></td>
                <td>创建日期</td>
                <td><input class="easyui-datebox" id="txtSDate" /></td>
                <td>-</td>
                <td><input class="easyui-datebox" id="txtEDate" /></td>
                <td>
                    关键字
                </td>
                <td>
                    <input class="easyui-searchbox" id="txtKey" />
                </td>
                <td>
                    <a id="btnQuery" class="easui-linkbutton">查询</a>
                </td>

            </tr>
        </table>
    </div>
    <div data-options="region:'center'">
        <table id="tb_approve"></table>
    </div>
</div>

<!-- 字典信息增删该查 -->
<div id="dlg_approve" class="easyui-dialog" data-options="width:700,height:500,closed:true,title:'人员信息'">
    <form id="frm_audit" method="POST">
        <input type="hidden" name="id">
        <table class="form-table">
            <tr>
                <td class="tdLabel">隶属部门</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="itemName" data-options="width:500,required:true,prompt:'最短4位,最长20位'" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">工作区域</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="oAddress" data-options="width:500,required:true,prompt:'问题的位置信息'" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">工作模式</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="description" data-options="width:500,required:true,height:'100',multiline:true" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">上传图片</td>
                <td colspan="3">
                    <input id="uploader" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">图片</td>
                <td>
                    <ul class="img-list"></ul>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- 字典信息增删该查 -->
<div id="dlg_user" class="easyui-dialog" data-options="width:700,height:400,closed:true,title:'人员信息'">
    <form id="frm_user" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id">
        <input type="hidden" name="fileIds" id="txtFileIds" />
        <input type="hidden" name="phone">
        <input type="hidden" name="sex">
        <input type="hidden" name="account">
        <table class="form-table">

            <tr>
                <td class="tdLabel">身份证</td>
                <td>
                    <input class="easyui-textbox" name="idCard" data-options="width:200,required:true,validType:{
		                    length:[18,18]
	                    }" />
                </td>
                <td class="tdLabel">密码</td>
                <td>
                    <input class="easyui-textbox" name="password" data-options="width:200,required:true,prompt:'最短4位,最长20位',validType:{
		                    length:[4,20]
	                    }" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">姓名</td>
                <td>
                    <input class="easyui-textbox" name="userName" data-options="width:200,required:true" />
                </td>
                <td class="tdLabel">部门</td>
                <td>
                    <input class="easyui-combobox" id="txtDeptId" name="deptId" data-options="width:200,required:true,valueField:'text',textField:'text',editable:false" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">岗位名称</td>
                <td>
                    <input class="easyui-textbox" id="txtPosition" name="position" data-options="width:200,required:true" />
                </td>
                <td class="tdLabel">工作模式</td>
                <td>
                    <input class="easyui-textbox" name="workMode" data-options="width:200" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">负责区域</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="areaName" data-options="prompt:'负责的位置',width:540" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">头像</td>
                <td colspan="3">
                    <ul class="img-list"></ul>
                </td>
            </tr>
        </table>
    </form>
</div>


@section Scripts{
<script type="text/javascript">
    $(function () {
        var _userService = abp.services.app.user
            , deptUrl = "/api/services/app/Dept/GetAll?maxResultCount=10000&skipCount=0"
            , dictURL = "/api/services/app/dictionary/GetAll?maxResultCount=10000&skipCount=0&dictType=" + encodeURIComponent("岗位排班字典")
       ,activeIndex=-1;
        var methods = {
            init: function () {
                $.parser.parse('#ly_userApprove')

                var baseOption = {
                    textField: 'name',
                    method: "GET",
                    editable: false,
                    icons: [{
                        iconCls: 'icon-clear',
                        handler: function (e) {
                            $(e.data.target).textbox('clear');
                        }
                    }]
                }

                $('#txtActive').combobox($.extend({
                    valueField: 'id',
                    width:90,
                    data: [{ id: 0, name: '待审核' }, { id: 1, name: '已审核' }],
                    onHidePanel: function () {
                        methods.query();
                    }
                }, baseOption));

                $.combobox({
                    id: 'txtPosition',
                    url: dictURL,
                    valueField:'name'
                });

                $('#txtDeptId').combobox({
                    method: "GET",
                    url: deptUrl,
                    valueField: 'id',
                    textField: 'name',
                    loadFilter: function (result) {
                        return result["items"];
                    }
                });

                $('#txtSDate').datebox({
                    width: 120,
                    editable:false,
                    icons: [{
                        iconCls: 'icon-clear',
                        handler: function (e) {
                            $(e.data.target).textbox('clear');
                        }
                    }]
                })

                $('#txtEDate').datebox({
                    width: 120,
                    editable: false,
                    icons: [{
                        iconCls: 'icon-clear',
                        handler: function (e) {
                            $(e.data.target).textbox('clear');
                        }
                    }]
                })

                $('#btnQuery').linkbutton({
                    iconCls: 'icon-search',
                    width: 80,
                    plain:true,
                    onClick: function () {
                        methods.query()
                    }
                });


                $('#txtKey').searchbox({
                    width: 250,
                    searchbox: function () {
                        methods.query();
                    }
                });

                $('#dlg_user').dialog({
                    buttons: [
                        {
                            text: '激活',
                            iconCls: 'icon-save',
                            handler: function () {
                                methods.active();
                            }
                        }, {
                            text: '关闭',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $('#dlg_user').dialog('close');
                                activeIndex = -1;
                            }
                        }
                    ]
                });
            },
            initTable: function (queryParam) {
                $.dgInit({
                    id: "tb_approve",
                    url: '/api/services/app/user/getAll',
                    queryParams:queryParam,
                    columns: [[
                        { field: 'id', hidden: true, width: 30 },
                        { field: 'deptId', hidden: true, width: 30 },
                        { field: 'account', title: '账号', width: 80, sortable: true },
                        { field: 'userName', title: '姓名', width: 80 },
                        {
                            field: 'isActive', title: '审核状态', width: 80,
                            formatter: function (value, row, index) {
                                if (value == 0) {
                                    return "<span style='color:red;'>未审核</span>"
                                } else {
                                    return "<span style='color:blue;'>已审核</span>"
                                }
                            }
                        },
                        { field: 'idCard', title: '身份证', width: 140 },
                        { field: 'deptName', title: '隶属部门', width: 120 },
                        { field: 'position', title: '岗位', width: 80 },
                        { field: 'phone', title: '联系方式', width: 120 },
                        { field: 'sex', title: '性别', width: 80 },
                        {
                            field: 'action', title: '操作', width: 80,
                            formatter: function (value, row, index) {
                                if (row.isActive) {
                                    return;
                                }
                                return "<a rowIndex='" + index + "' userId='" + row.id + "' href='javascript:void(0)' class='btn-pass'>通过</a>" +
                                       "<a rowIndex='" + index + "' userId='" + row.id + "' style='margin-left:10px;' href='javascript:void(0)' class='btn-cancel'>拒绝</a>"
                            }
                        },
                    ]],
                    onLoadSuccess: function (data) {
                        //通过
                        $('.btn-pass').click(function () {
                            var userId = $(this).attr('userId')
                             , index = $(this).attr('rowIndex');
                            activeIndex = index;
                            var row = $('#tb_approve').datagrid('getRows')[index];
                            $('#frm_user').form('load', row);
                            $('#dlg_user').dialog('open');

                            $.showFiles({
                                parentId: row.id,
                                module: 'user'
                            });
                        });
                        //拒绝
                        $('.btn-cancel').click(function () {
                            var userId = $(this).attr('userId')
                            , index = $(this).attr('rowIndex');
                            _userService.delete({id:userId}, {
                                success: function (data) {
                                    $('#tb_approve').datagrid('deleteRow', index);
                                }
                            });
                        });
                    }
                });
            },
            getParam:function(){
                var param= {
                    "sDate": $('#txtSDate').datebox("getValue"),
                    "eDate": $('#txtEDate').datebox("getValue"),
                    "key":$('#txtKey').searchbox('getValue')
                }
                var isActive = $('#txtActive').combobox("getValue");
                if (isActive == 0) {
                    param["isActive"] = false;
                } else if (isActive == 1) {
                    param["isActive"] = true;
                }
                return param
            },
            query: function (param) {
              
                var queryParam = $.extend(methods.getParam(), param);
                $('#tb_approve').datagrid('reload', queryParam);
            },
            active: function () {
                $.formSave({
                    id: 'frm_user',
                    action: function (fields, isAdd) {
                        fields["isActive"] = true;
                        _userService.update(fields, {
                            success: function (data) {
                                $('#dlg_user').dialog('close')
                                $('#tb_approve').datagrid('deleteRow', activeIndex);
                                activeIndex = -1;
                            }
                        });
                    }
                });
            }

        }

        methods.init();
        methods.initTable($.extend({isActive:false},methods.getParam()));
    })
</script>

}