@using WOrder.Web.Startup

@{
    ViewBag.ActiveMenu = PageNames.User;
    Layout = null;
}


<div class="easyui-layout" id="ly_dept" data-options="fit:true,border:false">
    <div data-options="region:'west',width:200,title:'部门信息',tools:[{iconCls:'icon-add',handler:function(){$('#dlg_dept').dialog('open');$('#frm_dept').form('clear')}}]" style="padding:5px 0px;">
        <ul class="easyui-tree" id="tree_dept"></ul>
    </div>
    <div data-options="region:'center'">
        <table id="tb_user"></table>
    </div>
</div>
<!-- 部门信息 -->
<div id="dlg_dept">
    <form id="frm_dept" method="post">
        <input type="hidden" name="id" />
        <table class="form-table">
            <tr>
                <td class="tdLabel">部门名称</td>
                <td>
                    <input class="easyui-textbox" name="name" data-options="width:300,required:true" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">部门编号</td>
                <td>
                    <input class="easyui-textbox" name="deptNo" data-options="width:300,required:true,prompt:'LC001'" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">拼音简称</td>
                <td>
                    <input class="easyui-textbox" name="inputCode" data-options="width:300,required:true" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">位置</td>
                <td>
                    <input class="easyui-textbox" name="position" data-options="width:300,multiline:true,height:100" />
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- 字典信息增删该查 -->
<div id="dlg_user" class="easyui-dialog" data-options="width:700,height:400,closed:true,title:'人员信息'">
    <form id="frm_user" method="POST">
        <input type="hidden" name="id">
        <table class="form-table">
            <tr>
                <td class="tdLabel">账号</td>
                <td>
                    <input class="easyui-textbox" name="account" data-options="width:200,required:true" />
                </td>
                <td class="tdLabel">密码</td>
                <td>
                    <input class="easyui-textbox" name="password" data-options="width:200,required:true,prompt:'最短4位,最长20位',validType:{
		                    length:[4,20]
	                    }" />
                </td>
                
            </tr>
            <tr>
                <td class="tdLabel">姓名</td>
                <td>
                    <input class="easyui-textbox" name="userName" data-options="width:200,required:true" />
                </td>
                <td class="tdLabel">部门</td>
                <td>
                    <input class="easyui-combobox" id="txtDeptId" name="deptId" data-options="width:200,required:true,valueField:'text',textField:'text',editable:false" />
                </td>
               

            </tr>

            <tr>
                <td class="tdLabel">岗位名称</td>
                <td>
                    <input class="easyui-textbox" name="position" data-options="width:200,required:true" />
                </td>
                <td class="tdLabel">性别</td>
                <td>
                    <input class="easyui-combobox" name="sex" data-options="width:200,required:true,valueField:'text',textField:'text',editable:false,data:[{text:'男'},{text:'女'}]" />
                </td>
            </tr>
            <tr>
                <td class="tdLabel">联系方式</td>
                <td>
                    <input class="easyui-textbox" name="phone" data-options="width:200,required:true,prompt:'185xx'" />
                </td>
                <td class="tdLabel">邮箱</td>
                <td>
                    <input class="easyui-textbox" name="email" data-options="width:200,validType:['email','length[0,20]']" />
                </td>
            </tr>
           
        </table>
    </form>
</div>

<!-- 字典类别的右键菜单 -->
<div id="mm_dict" class="easyui-menu" style="width:120px;">
    <div data-options="iconCls:'icon-edit'">编辑</div>
    <div data-options="iconCls:'icon-remove'">删除</div>
</div>


<script type="text/javascript">
    $(function () {
        var selectNode
            , deptUrl = "/api/services/app/Dept/GetAll?maxResultCount=10000&skipCount=0"
            , _deptService = abp.services.app.dept
            , _userService = abp.services.app.user;
        var methods = {
            init: function () {

                $.parser.parse('#ly_dept')
                $.parser.parse('#dlg_dept');
                $.parser.parse('#dlg_user');


                $('#dlg_dept').dialog({
                    width: 500, height: 300, closed: true, title: '部门信息',
                    buttons: [
                        {
                            text: '保存',
                            iconCls: 'icon-save',
                            handler: function () {
                                methods.saveDept();
                            }
                        }, {
                            text: '关闭',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $('#dlg_dept').dialog('close');
                            }
                        }
                    ]
                });

                $('#dlg_user').dialog({
                    buttons: [
                        {
                            text: '保存',
                            iconCls: 'icon-save',
                            handler: function () {
                                methods.saveUser();
                            }
                        }, {
                            text: '关闭',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $('#dlg_user').dialog('close');
                            }
                        }
                    ]
                });

                $('#txtDeptId').combobox({
                    method:"GET",
                    url: deptUrl,
                    valueField: 'id',
                    textField:'name',
                    loadFilter: function (result) {
                        return result["result"].items;
                    }
                });
            },
            initTree: function () {
                $.treeInit({
                    id: 'tree_dept',
                    url: deptUrl,
                   
                    onClick: function (node) {
                        selectNode = node;
                        //通过类型来获取字典数据
                        methods.queryUser();
                    },
                    onContextMenu: function (e, node) {
                        e.preventDefault();
                        // select the node
                        $('#tree_dept').tree('select', node.target);
                        // display context menu
                        $('#mm_dict').menu('show', {
                            left: e.pageX,
                            top: e.pageY,
                            onClick: function (item) {
                                if (item.text == "新增") {
                                    $('#frm_dept').form('clear');
                                    $('#dlg_dept').dialog('open')
                                }
                                else if (item.text == "编辑") {
                                    $('#frm_dept').form('load', node.attributes);
                                    console.log(node.attributes)
                                    $('#dlg_dept').dialog('open')
                                } else {
                                    abp.message.confirm("确定要删除部门<span style='color:red;'>" + node.text + "</span>?", function () {
                                        _deptService.delete({ id: node.id }, {
                                            success: function (data) {
                                                $("#tree_dept").tree('reload');
                                            }
                                        })
                                    })
                                }
                            }
                        });
                    }
                })
            },
            initTable: function () {
                $.dgInit({
                    id: "tb_user",
                    url: '/api/services/app/user/getAll',
                    columns: [[
                        { field: 'id', hidden: true, width: 30 },
                        { field: 'deptId', hidden: true, width: 30 },
                        { field: 'account', title: '账号', width: 80, sortable: true },
                        { field: 'userName', title: '姓名', width: 80 },
                        { field: 'deptName', title: '隶属部门', width: 120 },
                        { field: 'position', title: '岗位', width: 80 },
                        { field: 'phone', title: '联系方式', width: 120 },
                        { field: 'sex', title: '性别', width: 80 },
                    ]],
                    toolbar: [
                        {
                            text: "新增",
                            iconCls: 'icon-add',
                            handler: function () {
                                
                                $('#frm_user').form('clear');
                                $('#dlg_user').dialog('open');
                                if (selectNode) {
                                    $('#txtDeptId').combobox('setValue', selectNode.id);
                                }
                            }
                        }, '-', {
                            text: "编辑",
                            iconCls: 'icon-edit',
                            handler: function () {

                                $.rowSelectCheck('tb_user', "请先要编辑的人员", function (row) {
                                    $('#frm_user').form('load', row);
                                    $('#dlg_user').dialog('open')
                                    //将no设置未只读
                                })
                            }
                        }, '-', {
                            text: "删除",
                            iconCls: 'icon-remove',
                            handler: function () {
                                $.rowSelectCheck('tb_user', "请先选择要删除的人员", function (row,rowIndex) {
                                    abp.message.confirm("确定要删除人员:" + row.name, function (r) {
                                        _userService.delete({ id: row.id }, {
                                            success: function (data) {
                                                abp.notify.success("删除成功");
                                                $('#tb_user').datagrid('deleteRow', rowIndex)
                                            }
                                        })
                                    });
                                })
                            }
                        }
                    ]
                });
            },
           
            queryUser: function () {
                var param = {};
                if (selectNode) {
                    param["deptId"] = selectNode.id;
                }
                $('#tb_user').datagrid('reload', param);
            },
            saveDept: function () {
                $.formSave({
                    id: 'frm_dept',
                    action: function (data, isAdd) {
                        if (isAdd) {
                            _deptService.create(data, {
                                success: function (data) {
                                    $('#dlg_dept').dialog('close');
                                    $('#tree_dept').tree('reload');
                                }
                            })
                        } else {
                            _deptService.update(data, {
                                success: function (data) {
                                    $('#dlg_dept').dialog('close');
                                    $('#tree_dept').tree('reload');
                                }
                            })
                        }
                    }
                });
            },
            saveUser: function () {

                $.formSave({
                    id: 'frm_user',
                    action: function (fields, isAdd) {
                        console.log(fields)
                        if (isAdd) {
                            _userService.create(fields, {
                                success: function (data) {
                                    $('#dlg_user').dialog('close');
                                    methods.queryUser(data.dictType);
                                }
                            })
                        } else {
                            _userService.update(fields, {
                                success: function (data) {
                                    $('#dlg_user').dialog('close')
                                    methods.queryUser(data.dictType);
                                }
                            })

                        }

                    }
                });
            }
        }

        methods.init();
        methods.initTable();
        methods.initTree()
    })
</script>

